* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/****************
navbar
*****************/

.sony_text>img{
    height: 14px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
}

/******* section 1******/
.jumbo_img{
    background-image: url("./img/jumbo-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    height: 600px;
    width: 100%;
}
.s1_text_contain, .s2_text_contain{
    color: white;
    width: 400px;
}
.s1_text_contain>img{
width: 200px;
}
/********* card*******/
.card_contain{
    margin: 3rem 0.25rem;
    
}
.card {
    width: 100%;
    border-radius: 15px;
    
}
.card_contain:hover{
    border: 3px solid rgba(49, 141, 215, 1);
    border-radius: 22px;
    padding: 0.25rem;
    
}
/**************
    section2
***************/
    .section_2{

    }
    .text-center>.s2_paragraph{
        color: rgba(20, 125, 210, 1);
        
    }
    .text-center>.fs-4{
        color: rgba(141, 141, 141, 1);
    }
    .text-center>h2{
        font-size: 48px;
    
    }
    /**************
    section3
***************/
.s3_text_contain>h2{
    font-size: 48px;
}    
.s3_text_contain>p{
        color: rgba(141, 141, 141, 1);
    }
    .s3_contain_img>img{
        width: 100%;
    }
    
    .s3_card{
        width: 170px;
        filter: opacity(0.75);
        
    }
    .s3_card:hover{
        filter: none;
        border-bottom: 2px solid rgba(30, 131, 212, 1);
    }
    .s3_card>img{
        width: 100%;
    }


/**************
    section4
***************/
.s4_jumbo_img{
    background-image:url("./img/it-takes-two-hero-banner-desktop.jpg")
}
.section4{
    background-color: rgba(31, 31, 31, 1);
}
.s4_card{
    width: 250px;
    margin-bottom: 3rem;
    
}
.s4_card>img{
    width: 100%;
    border-radius: 15%;
}