* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}
.jumbo_img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    height: 600px;
    width: 100vw;
}

/****************
navbar
*****************/

.sony_text>img{
    height: 14px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
}


    
 
/******* section 1******/
.s1_jumbo_img{
    background-image: url("./img/jumbo-bg.png");
}
.s1_contain{
    padding-top: 14rem;
}
.s1_text_contain, .s2_text_contain{
    color: white;
    width: 400px;
}
.s1_text_contain>img{
width: 200px;
}
/********* card*******/
.card_contain{
    margin: 3rem 0.25rem;
    
}
.s1_card {
    width: 100%;
    border-radius: 15px;
    
}
.card_contain:hover{
    border: 3px solid rgba(49, 141, 215, 1);
    border-radius: 22px;
    padding: 0.25rem;
    
}
/**************
    section2
***************/
    
    .text-center>.s2_paragraph{
        color: rgba(20, 125, 210, 1);
        
    }
    .text-center>.fs-4{
        color: rgba(141, 141, 141, 1);
    }
    .text-center>h2{
        font-size: 48px;
    
    }
/**************
    section3
***************/
.s3_text_contain>h2{
    font-size: 48px;
}    
.s3_text_contain>p{
        color: rgba(141, 141, 141, 1);
    }
    .s3_contain_img>img{
        width: 100%;
    }
    
    .s3_card{
        width: 170px;
        filter: opacity(0.75);
        
    }
    .s3_card:hover{
        filter: none;
        border-bottom: 2px solid rgba(30, 131, 212, 1);
    }
    .s3_card>img{
        width:100%;
    }


/**************
    section4
***************/
    .s4_jumbo_img{
        background-image:url("./img/it-takes-two-hero-banner-desktop.jpg");
        

    }
    .s4_card_contain{
        background-color: rgba(31, 31, 31, 1);
    }
    .s4_logo_img{
        width: 200px;
    }
    .s4_card{
        
        margin-bottom: 3rem;
        
    }
    .s4_card>img{
        width: 100%;
        border-radius: 15%;
    }
/**************
    section5
***************/
    .s5_text_contain{
    margin-top: 5rem; 
    }
    .s5_card{
        width: 400px;
    }
    /**************
        section6
    ***************/
    .section6{
        background-color: rgba(190, 188, 187, 1);
        
    }
    .s6_text_contain>img{
        width: 300px;
    }
    .s6_buttom_color{
        background-color: rgba(217, 218, 220, 1);
        color: rgba(60, 110, 229, 1);
        
    }
/**************
    section7
***************/
    .s7_card{
        width: calc (100% /3);
    }
    .s7_card>img{
        width: 90%;
    }

/**************
    section8
***************/
    .section8{
        background-color: rgba(22, 28, 59, 1);
    }
    .s8_text_contain{
        
    }

    .s8_text_contain>img{
        width: 300px;
    }
    .s8_buttom_color{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        
    }
/**************
    section9
***************/
.s9_text_contin>h4{
    padding: 6rem 0;
}
.s9_card{
    width: 150px;
    margin-bottom: 6rem;
}
.s9_card>img{
    width: 100%;
}
/********************
        FOOTER
 *******************/
 footer{
     background-color: rgba(0, 67, 156, 1);
     color: white;
 }       
 div>a{
     text-decoration: none;
     color: white;
 }